<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.LoginMapper">
	
	<select id="comLogin" parameterType="hashmap" resultType="ComDTO">
		select
		from
	</select>
	
	<select id="entLogin" parameterType="hashmap" resultType="EntDTO">
	
	</select>
	
	<select id="admLogin" parameterType="hashmap" resultType="AdmDTO">
	
	</select>

</mapper>





