<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.NoticeMapper">

	<select id="selectAll" resultType="RestDTO" parameterType="hashmap">
		select restnum,resttitle, to_char(restwriteday,'YYYY/MM/dd') restwriteDay, restreadCnt
	    from notice
	     <if test="searchName == 'title'">
	       where resttitle LIKE '%'||#{searchValue}||'%'
	    </if>
	  
	    order by restnum desc
	</select>
	<insert id="boardWrite" parameterType="RestDTO">
	    insert into restaurant ( restnum,resttitle,restcontent)
	    values ( restaurant_seq.nextval, #{resttitle},#{restcontent})
	</insert>
	<select id="selectByNum" resultType="RestDTO" parameterType="int">
		select restnum, resttitle, restcontent, to_char(restwriteDay,'YYYY/MM/dd') restwriteDay, restreadCnt
	    from restaurant
	    where restnum = #{restnum}
	</select>
	<update id="readCnt" parameterType="int">
	   update restaurant
	   set restreadCnt = restreadCnt + 1
	   where restnum = #{restnum}
	</update>
	
	<delete id="deleteByNum" parameterType="int">
	   delete from restaurant
	    where restnum = #{restnum}
	</delete>
	
	<update id="updateByNum" parameterType="RestDTO">
	    update restaurant
	    set resttitle=#{resttitle} , restcontent=#{restcontent}
	    where restnum = #{restnum}
	</update>
	
	<select id="totalCount" resultType="int">
	   select count(*)
	   from restaurant
	</select>
	
	<select id="totalCount1" resultType="int" parameterType="hashmap">
	   select count(*)
	   from restaurant
	   
	    <if test="searchName == 'title'">
	       where resttitle LIKE '%'||#{searchValue}||'%'
	    </if>

	</select>
	
	
	
	
	
	
</mapper>





