<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.RestaurantMapper">

	<select id="restSelectAll" resultType="RestDTO" parameterType="hashmap">
		select restNum, restTitle, to_char(restWriteday,'YYYY/MM/dd')
		restWriteDay, restReadCnt
		from restaurant
		<if test="restSearchName == 'restTitle'">
			where restTitle LIKE '%'||#{restSearchValue}||'%'
		</if>

		order by restNum desc
	</select>
	<insert id="restBoardWrite" parameterType="RestDTO">
		insert into restaurant ( restNum,restTitle,restContent)
		values ( restaurant_seq.nextval, #{restTitle},#{restContent})
	</insert>
	<select id="restSelectByNum" resultType="RestDTO" parameterType="int">
		select restNum,restTitle, restContent,
		to_char(restWriteDay,'YYYY/MM/dd') restWriteDay, restReadCnt
		from restaurant
		where restNum = #{restNum}
	</select>
	<update id="restReadCnt" parameterType="int">
		update restaurant
		set restReadCnt = restReadCnt + 1
		where restNum = #{restNum}
	</update>

	<delete id="restDeleteByNum" parameterType="int">
		delete from restaurant
		where restNum = #{restNum}
	</delete>

	<update id="restUpdateByNum" parameterType="RestDTO">
		update restaurant
		set restTitle=#{restTitle} , restContent=#{restContent}
		where restNum = #{restNum}
	</update>

	<select id="restTotalCount" resultType="int">
		select count(*)
		from restaurant
	</select>

	<select id="restTotalCount1" resultType="int" parameterType="hashmap">
		select count(*)
		from restaurant

		<if test="restSearchName == 'title'">
			where restTitle LIKE '%'||#{restSearchValue}||'%'
		</if>
	</select>
	<select resultType="RestDTO" parameterType="string" id="restList">
		select
		restNum, restName, restContent, restPrice, restImage
		from restaurant
		where restNum = #{restNum}
	</select>

	<select resultType="RestDTO" parameterType="string" id="restRetrieve"> 
		select
		restNum, restName, restContent, restPrice, restImage
		from restaurant
		where restNum = #{restNum}
		</select>
</mapper>