<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.StayMapper">
	<select id="stayTotalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from stay
		<where>
			<if test="staySearchName == 'stayTitle' and staySearchValue!=null">
				stayTitle LIKE '%'||#{staySearchValue}||'%'
			</if>
			<if test="searchName == 'stayName' and searchValue!=null">
				stayName LIKE '%'||#{staySearchValue}||'%'
			</if>
			<if
				test="stayLocation != '전체' and stayLocation != 'def' and stayLocation != null and stayLocation != ''">
				and stayLocation =#{stayLocation}
			</if>
			<if test="stayType != 'def' and stayType != null and stayType != ''">
				and stayType =#{stayType}
			</if>
			<if test="stayGrade != 'def' and stayGrade != null and stayGrade != ''">
				and stayGrade =#{stayGrade}
			</if>
		</where>
	</select>
	<insert id="stayWrite" parameterType="StayDTO">
		insert into stay
		(stayNum,stayName,stayImage,stayPhone,
		stayLocation,stayAdultPrice,stayKidPrice,stayGrade,stayTitle,stayContent,
		staySite,stayType,entNum,stayImageClone)
		values ( stay_seq.nextval,
		#{stayName},#{stayImage},#{stayPhone}
		,#{stayLocation},#{stayAdultPrice},#{stayKidPrice},#{stayGrade},
		#{stayTitle},#{stayContent},
		#{staySite},#{stayType},#{entNum},#{stayImageClone})
	</insert>
	<select id="staySelect" resultType="StayDTO" parameterType="hashmap">
		select stayNum,stayName,stayImage,stayPhone,
		stayLocation,stayAdultPrice,stayKidPrice,stayGrade,stayTitle,stayContent,
		to_char(stayWriteDay,'YYYY/MM/dd') stayWriteDay,stayReadCnt,
		stayRepleCnt,staySite,stayGoods,stayType,entNum,stayImageClone
		from
		stay
		<where>
			<if
				test="staySearchName == 'stayTitle' and staySearchValue!=null and staySearchValue!=''">
				stayTitle LIKE '%'||#{staySearchValue}||'%'
			</if>
			<if
				test="staySearchName == 'stayName' and staySearchValue!=null and staySearchValue!=''">
				stayName LIKE '%'||#{staySearchValue}||'%'
			</if>
			<if
				test="stayLocation != '전체' and stayLocation != 'def' and stayLocation != null and stayLocation != ''">
				and stayLocation =#{stayLocation}
			</if>
			<if test="stayType != 'def' and stayType != null and stayType != ''">
				and stayType =#{stayType}
			</if>
			<if test="stayGrade != 'def' and stayGrade != null and stayGrade != ''">
				and stayGrade =#{stayGrade}
			</if>
		</where>
		<choose>
			<when
				test="sortStay == 'stayNoSort' or sortStay == '' or sortStay == null">
				order by stayNum desc
			</when>
			<when test="sortStay == 'stayGoodSort'">
				order by stayGoods desc
			</when>
			<when test="sortStay == 'staySysSort'">
				order by stayWriteDay desc
			</when>
		</choose>
	</select>
	<select id="staySelectByNum" resultType="StayDTO" parameterType="int">
		select stayNum,stayName,stayImage,stayPhone,
		stayLocation,stayAdultPrice,stayKidPrice,stayTitle,stayGrade,stayContent,
		to_char(stayWriteDay,'YYYY/MM/dd') stayWriteDay,stayReadCnt,
		stayRepleCnt,staySite,stayGoods,stayType,entNum,stayImageClone
		from stay
		where stayNum = #{stayNum}
	</select>
	<update id="stayReadCnt" parameterType="int">
		update stay
		set
		stayReadCnt
		= stayReadCnt + 1
		where stayNum = #{stayNum}
	</update>
	<update id="stayGoods" parameterType="int">
		update stay
		set stayGoods
		=
		stayGoods + 1
		where stayNum = #{stayNum}
	</update>
	<delete id="StayDeleteByNum" parameterType="int">
		delete from stay
		where stayNum = #{stayNum}
	</delete>
	<update id="stayUpdateByNum" parameterType="StayDTO">
		update stay
		set
		<if test="stayImageClone != null">
			stayImage=#{stayImage},
			stayImageClone=#{stayImageClone},
		</if>
		stayContent=#{stayContent},
		stayName=#{stayName},
		stayLocation=#{stayLocation},
		stayType=#{stayType},
		stayAdultPrice=#{stayAdultPrice},
		stayKidPrice=#{stayKidPrice},
		stayGrade=#{stayGrade},
		stayPhone=#{stayPhone},
		staySite=#{staySite},
		stayTitle=#{stayTitle}
		where stayNum = #{stayNum}
	</update>
</mapper>
