<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.StayMapper">

	<select id="StayselectAll" resultType="StayDTO" parameterType="hashmap">
		select stayNum, stayTitle, to_char(stayWriteday,'YYYY/MM/dd')
		stayWriteDay, stayReadCnt
		from stay
		<if test="staySearchName == 'stayTitle'">
			where stayTitle LIKE '%'||#{staySearchValue}||'%'
		</if>

		order by stayNum desc
	</select>
	<insert id="stayBoardWrite" parameterType="StayDTO">
		insert into stay ( stayNum,stayTitle,stayContent)
		values ( stay_seq.nextval, #{stayTitle},#{stayContent})
	</insert>
	<select id="staySelectByNum" resultType="StayDTO" parameterType="int">
		select stayNum, stayTitle, stayContent,
		to_char(stayWriteDay,'YYYY/MM/dd') stayWriteDay, stayReadCnt
		from stay
		where stayNum = #{stayNum}
	</select>
	<update id="stayReadCnt" parameterType="int">
		update stay
		set stayReadCnt = stayReadCnt + 1
		where stayNum = #{stayNum}
	</update>

	<delete id="stayDeleteByNum" parameterType="int">
		delete from stay
		where stayNum = #{stayNum}
	</delete>

	<update id="stayUpdateByNum" parameterType="StayDTO">
		update stay
		set stayTitle=#{stayTitle}, stayContent=#{stayContent}
		where stayNum = #{stayNum}
	</update>

	<select id="stayTotalCount" resultType="int">
		select count(*)
		from stay
	</select>

	<select id="stayTotalCount1" resultType="int" parameterType="hashmap">
		select count(*)
		from stay

		<if test="staySearchName == 'title'">
			where stayTitle LIKE '%'||#{staySearchValue}||'%'
		</if>
	</select>
</mapper>