<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.TourMapper">



	<!-- <select id="TourtotalCount" resultType="int"> select count(*) from 
		tour </select> -->

	<select id="TourtotalCount1" resultType="int" parameterType="hashmap">
		select count(*)
		from tour
		<where>
			<if test="searchName == 'attTitle' and searchValue!=null">
				attTitle LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchName == 'attName' and searchValue!=null">
				attName LIKE '%'||#{searchValue}||'%'
			</if>
			<if	test="attLocation != '전체' and attLocation != 'def' and attLocation != null and attLocation != ''">
				and attLocation =#{attLocation}
			</if>
			<if test="attType != 'def' and attType != null and attType != ''">
				and attType =#{attType}
			</if>
		</where>
	</select>
	<insert id="tourWrite" parameterType="TourDTO">
		insert into tour
		(attNum,attName,attImage,attPhone,
		attLocation,attAdultPrice,attKidPrice,attTitle,attContent,
		attSite,attType,entNum,attImageClone,attAddr1,attAddr2)
		values ( tour_seq.nextval,
		#{attName},#{attImage},#{attPhone}
		,#{attLocation},#{attAdultPrice},#{attKidPrice},#{attTitle},#{attContent},
		#{attSite},#{attType},#{entNum},#{attImageClone},#{attAddr1},#{attAddr2})

	</insert>


	<select id="selectTour" resultType="TourDTO" parameterType="hashmap">
		select attNum,attName,attImage,attPhone,
		attLocation,attAdultPrice,attKidPrice,attTitle,attContent,
		to_char(attWriteDay,'YYYY/MM/dd') attWriteDay,attReadCnt,
		attRepleCnt,attSite,attGoods,attType,entNum,attImageClone
		from tour
		<where>
			<if test="searchName == 'attTitle' and searchValue!=null and searchValue!=''">
				attTitle LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchName == 'attName' and searchValue!=null and searchValue!=''">
				attName LIKE '%'||#{searchValue}||'%'
			</if>
			<if
				test="attLocation != '전체' and attLocation != 'def' and attLocation != null and attLocation != ''">
				and attLocation =#{attLocation}
			</if>
			<if test="attType != 'def' and attType != null and attType != ''">
				and attType =#{attType}
			</if>

		</where>



		<choose>
		<when test="sortAtt == 'attNoSort' or sortAtt == '' or sortAtt == null">
				order by attNum desc
			</when>
			<when test="sortAtt == 'attGoodSort'">
				order by attGoods desc
			</when>
			<when test="sortAtt == 'attSysSort'">
				order by attWriteDay desc
			</when>
		</choose>


	</select>


	<select id="selectByTourNum" resultType="TourDTO" parameterType="int">
		select attNum,attName,attImage,attPhone,
		attLocation,attAdultPrice,attKidPrice,attTitle,attContent,
		to_char(attWriteDay,'YYYY/MM/dd') attWriteDay,attReadCnt,
		attRepleCnt,attSite,attGoods,attType,entNum,attImageClone,attAddr1,attAddr2
		from tour
		where attNum = #{attNum}
	</select>


	<update id="readTourCnt" parameterType="int">
		update tour
		set attReadCnt
		= attReadCnt + 1
		where attNum = #{attNum}
	</update>
	<update id="goodsTour" parameterType="int">
		update tour
		set attGoods
		= attGoods + 1
		where attNum = #{attNum}
	</update>

	<delete id="deleteByTourNum" parameterType="int">
		delete from tour
		where attNum = #{attNum}
	</delete>

	<update id="updateByTourNum" parameterType="TourDTO">
		update tour
		set
		<if test="attImageClone != null">
		attImage=#{attImage},
		attImageClone=#{attImageClone},
		</if>
		
		attContent=#{attContent},
		attName=#{attName},
		attLocation=#{attLocation},
		attType=#{attType},
		attAdultPrice=#{attAdultPrice},
		attKidPrice=#{attKidPrice},
		attPhone=#{attPhone},
		attSite=#{attSite},
		attTitle=#{attTitle},
		attAddr1=#{attAddr1},
		attAddr2=#{attAddr2}
		where attNum = #{attNum}
	</update>
	<!-- <select id="TourList" resultType="int" parameterType="hashmap">
		select *
		from notice

		<if test="attLocation != '전체'">
			where attLocation =#{attLocation}
		</if>

	</select> -->

	<!-- <select id="search" parameterType="hashmap" resultType="MyBoardDTO"> 
		select num,title,author, to_char(writeday,'YYYY/MM/dd') writeday, readCnt 
		from myboard <if test="searchName == 'title'"> where title LIKE '%'||#{searchValue}||'%' 
		</if> <if test="searchName == 'author'"> where author LIKE '%'||#{searchValue}||'%' 
		</if> </select> -->



</mapper>





