<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.NoticeMapper">

	<!-- <select id="tourList" parameterType="string" resultType="GoodsDTO">
	   select 
	   			attNum,
	   			attImage,
	          attPhone,
	          attLocation,
	          attPrice,
	          attTitle,
	          attContent,
	          attWriteday,
	          attReadCnt,
	          attRepleCnt,
	          attSite
	   from Tour
	   where attNum = #{attNum} 
	</select> -->
</mapper>
