<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.RestMapper">



	<!-- <select id="TourtotalCount" resultType="int"> select count(*) from 
		tour </select> -->

	<select id="ResttotalCount1" resultType="int" parameterType="hashmap">
		select count(*)
		from restaurant
		<where>
			<if test="searchName == 'restTitle' and searchValue!=null">
				restTitle LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchName == 'restName' and searchValue!=null">
				restName LIKE '%'||#{searchValue}||'%'
			</if>
			<if	test="restLocation != '전체' and restLocation != 'def' and restLocation != null and restLocation != ''">
				and restLocation =#{restLocation}
			</if>
			<if test="restType != 'def' and restType != null and restType != ''">
				and restType =#{restType}
			</if>
		</where>
	</select>
	
	
	<insert id="restWrite" parameterType="RestDTO">
		insert into restaurant
		(restNum,restName,restImage,restPhone,
		restLocation,restAdultPrice,restTitle,restContent,
		restSite,restType,entNum,restImageClone,restAddr1,restAddr2,restKidPrice)
		values ( restaurant_seq.nextval,
		#{restName},#{restImage},#{restPhone}
		,#{restLocation},#{restAdultPrice},#{restTitle},#{restContent},
		#{restSite},#{restType},#{entNum},#{restImageClone},#{restAddr1},#{restAddr2},#{restKidPrice})

	</insert>


	<select id="selectRest" resultType="RestDTO" parameterType="hashmap">
		select restNum,restName,restImage,restPhone,
		restLocation,restAdultPrice,restTitle,restContent,
		to_char(restWriteDay,'YYYY/MM/dd') restWriteDay,restReadCnt,
		restRepleCnt,restSite,restGoods,restType,entNum,restImageClone,restAddr1,restAddr2,restKidPrice  
		from restaurant
		<where>
			<if test="searchName == 'restTitle' and searchValue!=null and searchValue!=''">
				restTitle LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchName == 'restName' and searchValue!=null and searchValue!=''">
				restName LIKE '%'||#{searchValue}||'%'
			</if>
			<if
				test="restLocation != '전체' and restLocation != 'def' and restLocation != null and restLocation != ''">
				and restLocation =#{restLocation}
			</if>
			<if test="restType != 'def' and restType != null and restType != ''">
				and restType =#{restType}
			</if>

		</where>



		<choose>
		<when test="sortRest == 'restNoSort' or sortRest == '' or sortRest == null">
				order by restNum desc
			</when>
			<when test="sortRest == 'restGoodSort'">
				order by restGoods desc
			</when>
			<when test="sortRest == 'restSysSort'">
				order by restWriteDay desc
			</when>
		</choose>


	</select>


	<select id="updateGoodsByRestNum" resultType="RestDTO" parameterType="int">
		select restNum,restName,restImage,restPhone,
		restLocation,restAdultPrice,restTitle,restContent,
		to_char(restWriteDay,'YYYY/MM/dd') restWriteDay,restReadCnt,
		restRepleCnt,restSite,restGoods,restType,entNum,restImageClone,restAddr1,restAddr2,restKidPrice 
		from restaurant 
		where restNum = #{restNum}
	</select>



	<select id="selectByRestNum" resultType="RestDTO" parameterType="int">
		select restNum,restName,restImage,restPhone,
		restLocation,restAdultPrice,restTitle,restContent,
		to_char(restWriteDay,'YYYY/MM/dd') restWriteDay,restReadCnt,
		restRepleCnt,restSite,restGoods,restType,entNum,restImageClone,restAddr1,restAddr2,restKidPrice 
		from restaurant 
		where restNum = #{restNum}
	</select>


	<update id="readRestCnt" parameterType="int">
		update restaurant
		set restReadCnt
		= restReadCnt + 1 
		where restNum = #{restNum}
	</update>
	<update id="goodsRest" parameterType="int">
		update restaurant
		set restGoods
		= restGoods + 1 
		where restNum = #{restNum}
	</update>

	<delete id="deleteByRestNum" parameterType="int">
		delete from restaurant 
		where restNum = #{restNum}
	</delete>

	<update id="updateByRestNum" parameterType="RestDTO">
		update restaurant
		set
		<if test="restImageClone != null">
		restImage=#{restImage},
		restImageClone=#{restImageClone},
		</if>
		
		restContent=#{restContent},
		restName=#{restName},
		restLocation=#{restLocation},
		restType=#{restType},
		restAdultPrice=#{restAdultPrice},
		restPhone=#{restPhone},
		restSite=#{restSite},
		restTitle=#{restTitle},
		restAddr1=#{restAddr1},
		restAddr2=#{restAddr2},
		restKidPrice=#{restKidPrice} 
		where restNum = #{restNum}
	</update>

	
	



</mapper>





